@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.fourth-section .contact .contact-part-2, .fourth-section .contact .contact-part-1, .fourth-section .contact, .fourth-section, .third-section .skills .right, .third-section .skills .left, .third-section .skills, .third-section, .second-section .out, .second-section, .first-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-section .skills .left p, .second-section .out .in p {
  color: #fff0e1;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5vw;
  line-height: 30px;
}
@media screen and (max-width: 768px) {
  .third-section .skills .left p, .second-section .out .in p {
    font-size: 5vw;
  }
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #001b5a;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  body {
    overflow: visible;
  }
}

section {
  height: 100vh;
  width: 100vw;
}

.scroll-icon {
  width: 5vw;
  padding-bottom: 5vh;
  transition: transform 0.2s;
  filter: invert(64%) sepia(97%) saturate(4700%) hue-rotate(8deg) brightness(92%) contrast(104%);
}
.scroll-icon:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 768px) {
  .scroll-icon {
    display: none;
  }
}

.first-section {
  justify-content: flex-end;
  flex-direction: column;
}
.first-section h1 {
  color: #ec6e00;
  padding-bottom: 35vh;
  font-size: 5vw;
  font-family: "Montserrat", sans-serif;
}
.first-section h1 span {
  color: #fff0e1;
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  .first-section h1 {
    font-size: 15vw;
    padding-left: 5%;
    padding-bottom: 15%;
  }
}

@media screen and (max-width: 768px) {
  .second-section {
    height: 60vh;
  }
}
.second-section .out {
  width: 80%;
  height: 80%;
}
@media screen and (max-width: 768px) {
  .second-section .out {
    width: 90%;
  }
}
.second-section .out .in {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .second-section .out .in {
    width: 100%;
  }
}
.third-section .skills {
  width: 80%;
  height: 80%;
}
@media screen and (max-width: 768px) {
  .third-section .skills {
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 90%;
    height: 90%;
  }
}
.third-section .skills div {
  height: 100%;
}
@media screen and (max-width: 768px) {
  .third-section .skills div {
    height: 90%;
  }
}
.third-section .skills .left {
  width: 60%;
}
.third-section .skills .left p {
  padding-left: 5%;
}
@media screen and (max-width: 768px) {
  .third-section .skills .left p {
    padding-left: 0%;
  }
}
.third-section .skills .left p .mono {
  font-family: monospace;
}
@media screen and (max-width: 768px) {
  .third-section .skills .left {
    width: 100%;
  }
}
.third-section .skills .right {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .third-section .skills .right {
    width: 100%;
    height: 7%;
  }
}
.third-section .skills .right h1 {
  font-size: 5vw;
  font-family: "Montserrat", sans-serif;
  color: #ec6e00;
  text-align: right;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .third-section .skills .right h1 {
    width: 100%;
    height: 100%;
    font-size: 8vw;
    text-align: left;
  }
}

.fourth-section .contact {
  width: 80%;
  height: 80%;
}
@media screen and (max-width: 768px) {
  .fourth-section .contact {
    height: 90%;
  }
}
.fourth-section .contact div {
  width: 33%;
  height: 100%;
}
.fourth-section .contact .contact-part-1 {
  justify-content: flex-start;
}
.fourth-section .contact .contact-part-1 h1 {
  color: #fff0e1;
  font-size: 5vw;
  text-align: right;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 768px) {
  .fourth-section .contact .contact-part-1 h1 {
    font-size: 8vw;
  }
}
.fourth-section .contact .contact-part-2 p {
  color: #ec6e00;
  max-height: 100%;
  font-size: 25vw;
  font-family: "Titillium Web", sans-serif;
}
@media screen and (max-width: 768px) {
  .fourth-section .contact .contact-part-2 p {
    font-size: 45vw;
  }
}
.fourth-section .contact .contact-part-3 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.fourth-section .contact .contact-part-3 a {
  width: 60%;
  height: 10%;
}
@media screen and (max-width: 768px) {
  .fourth-section .contact .contact-part-3 a {
    width: 100%;
    height: 9%;
  }
}
.fourth-section .contact .contact-part-3 a img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}
.fourth-section .contact .contact-part-3 a img:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 768px) {
  .fourth-section {
    height: 40vh;
  }
}

/*# sourceMappingURL=style.css.map */
