@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// colors
$bg: #001b5a;
$text: #fff0e1;
$accent: #ec6e00;

// sizes
$phone: 768px;

// templates
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%text-content {
    color: $text;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5vw;
    line-height: 30px;
    @media screen and (max-width: $phone) {
        font-size: 5vw;
    }
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bg;
    overflow: hidden;
    // overflow-x: hidden;
    @media screen and (max-width: $phone) {
        overflow: visible;
    }
}

section {
    width: 100vw;
    min-height: 100vh;
}

.scroll-icon {
    width: 5vw;
    padding-bottom: 5vh;
    transition: transform .2s;
    filter: invert(64%) sepia(97%) saturate(4700%) hue-rotate(8deg) brightness(92%) contrast(104%);
    &:hover {
        transform: scale(1.2);
    }
    @media screen and (max-width: $phone) {
        display: none;
    }
}

.first-section {
    @extend %flex-center;
    justify-content: flex-end;
    flex-direction: column;
    h1 {
        color: $accent;
        padding-bottom: 35vh;
        font-size: 5vw;
        font-family: 'Montserrat', sans-serif;
        // text-decoration: underline;
        // text-decoration-thickness: 1px;
        // text-underline-offset: 5px;
        span {
            color: $text;
            font-weight: 100;
        }
        @media screen and (max-width: $phone) {
            font-size: 15vw;
            padding-left: 5%;
            padding-bottom: 15%;
        }
    }
}

.second-section {
    @extend %flex-center;
    @media screen and (max-width: $phone) {
        min-height: auto;
        margin: 25px 0px;
    }
    .out {
        @extend %flex-center;
        width: 80%;
        height: 80%;
        @media screen and (max-width: $phone) {
            width: 90%;
        }
        .in {
            width: 60%;
            @media screen and (max-width: $phone) {
                width: 100%;
            }
            p {
                @extend %text-content;
            }
        }
    }
}

.third-section {
    @extend %flex-center;
    @media screen and (max-width: $phone) {
        min-height: auto;
        margin: 25px 0px;
    }
    .skills {
        @extend %flex-center;
        width: 80%;
        height: 80%;
        @media screen and (max-width: $phone) {
            flex-direction: column-reverse;
            justify-content: flex-start;
            width: 90%;
            height: 90%;
        }
        div {
            height: 100%;
            @media screen and (max-width: $phone) {
                height: 90%;
            }
        }
        .left {
            @extend %flex-center;
            width: 60%;
            p {
                @extend %text-content;
                padding-left: 5%;
                @media screen and (max-width: $phone) {
                    padding-left: 0%;
                }
                .mono {
                    font-family: monospace;
                }
            }
            @media screen and (max-width: $phone) {
                width: 100%;
            }
        }
        .right {
            @extend %flex-center;
            width: 40%;
            @media screen and (max-width: $phone) {
                width: 100%;
                height: 7%;
            }
            h1 {
                font-size: 5vw;
                font-family: 'Montserrat', sans-serif;
                color: $accent;
                text-align: right;
                padding-right: 10%;
                @media screen and (max-width: $phone) {
                    width: 100%;
                    height: 100%;
                    font-size: 8vw;
                    text-align: left;
                }
            }
        }
    }
}

.fourth-section {
    @extend %flex-center;
    @media screen and (max-width: $phone) {
        min-height: auto;
        margin: 25px 0px;
    }
    .contact {
        @extend %flex-center;
        width: 80%;
        height: 80%;
        div {
            width: 33%;
            height: 100%;
        }
        .contact-part-1 {
            @extend %flex-center;
            justify-content: flex-start;
            h1 {
                color: $text;
                font-size: 5vw;
                text-align: right;
                font-family: 'Montserrat', sans-serif;
                @media screen and (max-width: $phone) {
                    font-size: 7vw;
                }
            }
        }
        .contact-part-2 {
            @extend %flex-center;
            p {
                @extend %flex-center;
                color: $accent;
                font-size: 25vw;
                font-family: 'Titillium Web', sans-serif;
            }
        }
        .contact-part-3 {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            @media screen and (max-width: $phone) {
                height: 100%;
            }
            a {
                @extend %flex-center;
                width: 60%;
                height: 10%;
                @media screen and (max-width:$phone) {
                    width: auto;
                }
                img {
                    transition: transform .2s;
                    width: 100%;
                    &:hover {
                        transform: scale(1.2);
                    }
                    @media screen and (max-width:$phone) {
                        width: 100%;
                    }
                }
            }
        }
    }
}