@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
.third-section .skills .skill-part-3, .third-section .skills .skill-part-2, .third-section .skills, .third-section, .second-section .out, .second-section, .first-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .scroll-icon-up, .scroll-icon-down {
    display: none;
  }
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #001b5a;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  body {
    overflow: visible;
  }
}

section {
  height: 100vh;
  width: 100vw;
}

.scroll-icon-down {
  width: 5vw;
  padding-bottom: 5vh;
  transform: rotate(0deg);
  transition: transform 0.2s;
  filter: invert(64%) sepia(97%) saturate(4700%) hue-rotate(8deg) brightness(92%) contrast(104%);
}
.scroll-icon-down:hover {
  filter: invert(81%) sepia(28%) saturate(5009%) hue-rotate(336deg) brightness(102%) contrast(99%);
  transform: rotate(0deg) scale(1.2);
}

.scroll-icon-up {
  width: 5vw;
  padding-bottom: 5vh;
  transform: rotate(180deg);
  transition: transform 0.2s;
  filter: invert(64%) sepia(97%) saturate(4700%) hue-rotate(8deg) brightness(92%) contrast(104%);
}
.scroll-icon-up:hover {
  filter: invert(81%) sepia(28%) saturate(5009%) hue-rotate(336deg) brightness(102%) contrast(99%);
  transform: rotate(180deg) scale(1.2);
}

.first-section {
  justify-content: flex-end;
  flex-direction: column;
}
.first-section h1 {
  color: #ec6e00;
  padding-bottom: 35vh;
  font-size: 5vw;
  font-family: "Raleway", sans-serif;
}
.first-section h1 span {
  color: #fff0e1;
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  .first-section h1 {
    font-size: 15vw;
    padding-left: 5%;
    padding-bottom: 15%;
  }
}

.second-section .out {
  width: 80%;
}
@media screen and (max-width: 768px) {
  .second-section .out {
    width: 90%;
  }
}
.second-section .out .in {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .second-section .out .in {
    width: 100%;
  }
}
.second-section .out .in p {
  color: #fff0e1;
  font-family: "Raleway", sans-serif;
  font-size: 1.5vw;
  line-height: 30px;
}
@media screen and (max-width: 768px) {
  .second-section .out .in p {
    font-size: 5vw;
  }
}
@media screen and (max-width: 768px) {
  .second-section {
    height: 60vh;
  }
}

.third-section .skills {
  width: 80%;
  height: 80%;
}
@media screen and (max-width: 768px) {
  .third-section .skills {
    height: 90%;
  }
}
.third-section .skills div {
  width: 33%;
  height: 100%;
}
.third-section .skills .skill-part-1 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.third-section .skills .skill-part-1 p {
  color: #fff0e1;
  width: 100%;
  text-align: right;
  font-size: 2vw;
  font-family: monospace;
}
@media screen and (max-width: 768px) {
  .third-section .skills .skill-part-1 p {
    font-size: 5vw;
  }
}
.third-section .skills .skill-part-2 p {
  color: #ec6e00;
  max-height: 100%;
  font-size: 25vw;
  font-family: "Titillium Web", sans-serif;
}
@media screen and (max-width: 768px) {
  .third-section .skills .skill-part-2 p {
    font-size: 45vw;
  }
}
.third-section .skills .skill-part-3 {
  justify-content: flex-start;
}
.third-section .skills .skill-part-3 h1 {
  color: #fff0e1;
  font-size: 5vw;
  font-family: "Raleway", sans-serif;
}
@media screen and (max-width: 768px) {
  .third-section .skills .skill-part-3 h1 {
    font-size: 10vw;
  }
}
@media screen and (max-width: 768px) {
  .third-section {
    height: 60vh;
  }
}

/*# sourceMappingURL=style.css.map */
