@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.fourth-section .container, .fourth-section, .third-section .skills .right, .third-section .skills .left, .third-section .skills, .third-section, .second-section .out, .second-section, .first-section .container .socials, .first-section .container, .first-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-section .skills .left p, .second-section .out .in p {
  color: #f5f5f5;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
}
@media screen and (max-width: 768px) {
  .third-section .skills .left p, .second-section .out .in p {
    font-size: 14px;
    line-height: 25px;
  }
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #28282b;
  overflow: hidden;
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  body {
    overflow: visible;
  }
}

section {
  width: 100vw;
  min-height: 100vh;
}

.scroll-icon {
  width: 75px;
  padding-bottom: 5vh;
  transition: transform 0.2s;
}
.scroll-icon:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 768px) {
  .scroll-icon {
    display: none;
  }
}

.first-section .container {
  flex-direction: column;
}
.first-section .container h1 {
  color: #3037d6;
  font-size: 80px;
  font-family: "Montserrat", sans-serif;
}
.first-section .container h1 span {
  color: #f5f5f5;
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  .first-section .container h1 {
    font-size: 50px;
    padding-left: 5%;
    padding-bottom: 10%;
  }
}
.first-section .container .socials {
  width: 40%;
  margin-top: 10px;
  justify-content: space-around;
}
.first-section .container .socials img {
  width: 25px;
  transition: 0.2s;
}
.first-section .container .socials img:hover {
  transform: scale(1.2);
}
.first-section .container .socials #linkedin {
  width: 20px;
}
@media screen and (max-width: 768px) {
  .first-section .container .socials {
    width: 70%;
  }
}
.first-section #down-arrow {
  position: absolute;
  top: 90%;
}
@media screen and (max-width: 768px) {
  .first-section {
    min-height: 30vh;
  }
}

@media screen and (max-width: 768px) {
  .second-section {
    min-height: auto;
    margin: 25px 0px;
  }
}
.second-section .out {
  width: 80%;
  height: 80%;
}
@media screen and (max-width: 768px) {
  .second-section .out {
    width: 90%;
  }
}
.second-section .out .in {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .second-section .out .in {
    width: 100%;
  }
}
.second-section .out .in p a {
  color: #3037d6;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .third-section {
    min-height: auto;
    margin: 25px 0px;
  }
}
.third-section .skills {
  width: 80%;
  height: 80%;
}
@media screen and (max-width: 768px) {
  .third-section .skills {
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 90%;
    height: 90%;
  }
}
.third-section .skills div {
  height: 100%;
}
@media screen and (max-width: 768px) {
  .third-section .skills div {
    height: 90%;
  }
}
.third-section .skills .left {
  width: 60%;
}
.third-section .skills .left p {
  padding-left: 5%;
}
@media screen and (max-width: 768px) {
  .third-section .skills .left p {
    padding-left: 0%;
  }
}
.third-section .skills .left p .mono {
  font-family: monospace;
}
@media screen and (max-width: 768px) {
  .third-section .skills .left {
    width: 100%;
  }
}
.third-section .skills .right {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .third-section .skills .right {
    width: 100%;
    height: 7%;
  }
}
.third-section .skills .right h1 {
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  color: #3037d6;
  text-align: right;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .third-section .skills .right h1 {
    width: 100%;
    height: 100%;
    font-size: 25px;
    text-align: left;
  }
}

.fourth-section {
  min-height: 90vh;
}
@media screen and (max-width: 768px) {
  .fourth-section {
    min-height: 30vh;
  }
}
.fourth-section .container {
  width: 80%;
}
@media screen and (max-width: 768px) {
  .fourth-section .container {
    width: 90%;
  }
}
.fourth-section .container img {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .fourth-section .container img {
    width: 100%;
  }
}

footer {
  width: 100vw;
  height: 10vh;
  background-color: #3037d6;
  display: flex;
}
@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    justify-content: center;
  }
}
footer div {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  footer div {
    width: 100%;
  }
}
footer div p {
  color: #f5f5f5;
  font-size: 12px;
  font-family: sans-serif;
}
footer .left p {
  margin-left: 55px;
}
@media screen and (max-width: 768px) {
  footer .left p {
    margin: 0 0 10px 0;
    text-align: center;
  }
}
footer .right p {
  text-align: right;
  margin-right: 55px;
}
@media screen and (max-width: 768px) {
  footer .right p {
    margin: 0;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
