@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

// colors
$bg: #0b0b9d;
$black: #000000;
$white: #ffffff;
$accent: #E8630A;

// sizes
$phone: 768px;

// templates
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%hide-scroll-icon-mobile {
    @media screen and (max-width: $phone) {
        display: none;
    }
}

// mixins
@mixin scroll-icon($rotation: 0deg) {
    width: 5vw;
    transform: rotate($rotation);
    &:hover {
        // filter: invert(17%) sepia(81%) saturate(4125%) hue-rotate(357deg) brightness(100%) contrast(132%);
        // filter: invert(61%) sepia(34%) saturate(1375%) hue-rotate(360deg) brightness(104%) contrast(105%);
        filter: invert(40%) sepia(99%) saturate(2263%) hue-rotate(4deg) brightness(98%) contrast(92%);
        }
    @extend %hide-scroll-icon-mobile;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bg;
    overflow: hidden;
    // overflow-x: hidden;
    @media screen and (max-width: $phone) {
        overflow: visible;
    }
}

section {
    height: 100vh;
    width: 100vw
}

.scroll-icon-down {
    @include scroll-icon($rotation: 0deg);
}
.scroll-icon-up {
    @include scroll-icon($rotation: 180deg);
}

.first-section {
    @extend %flex-center;
    justify-content: flex-end;
    flex-direction: column;
    h1 {
        color: $accent;
        padding-bottom: 40vh;
        font-size: 5vw;
        font-family: 'Raleway', sans-serif;
        // text-decoration: underline;
        // text-decoration-thickness: 1px;
        // text-underline-offset: 5px;
        span {
            color: $white;
            font-weight: 100;
        }
        @media screen and (max-width: $phone) {
            font-size: 15vw;
            padding-left: 5%;
            padding-bottom: 15%;
        }
    }
}

.second-section {
    @extend %flex-center;
    .out {
        @extend %flex-center;
        width: 80%;
        @media screen and (max-width: $phone) {
            width: 90%;
        }
        .in {
            width: 60%;
            @media screen and (max-width: $phone) {
                width: 100%;
            }
            p {
                color: $white;
                font-family: 'Raleway', sans-serif;
                font-size: 1.5vw;
                line-height: 30px;
                @media screen and (max-width: $phone) {
                    font-size: 5vw;
                }
            }
        }
    }
    @media screen and (max-width: $phone) {
        height: 60vh;
    }
}

.third-section {
    @extend %flex-center;
    .skills {
        @extend %flex-center;
        width: 80%;
        height: 80%;
        @media screen and (max-width: $phone) {
            height: 90%;
        }
        div {
            width: 33%;
            height: 100%;
        }
        .skill-part-1 {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            p {
                color: $white;
                width: 100%;
                text-align: right;
                font-size: 2vw;
                font-family: monospace;
                @media screen and (max-width: $phone) {
                    font-size: 5vw;
                }
            }
        }
        .skill-part-2 {
            @extend %flex-center;
            p {
                color: $accent;
                max-height: 100%;
                font-size: 25vw;
                font-family: 'Titillium Web', sans-serif;
                @media screen and (max-width: $phone) {
                    font-size: 45vw;
                }
            }
        }
        .skill-part-3 {
            @extend %flex-center;
            justify-content: flex-start;
            h1 {
                color: $white;
                font-size: 5vw;
                font-family: 'Raleway', sans-serif;
                @media screen and (max-width: $phone) {
                    font-size: 10vw;
                }
            }
        }
    }
    @media screen and (max-width: $phone) {
        height: 60vh;
    }
}
