@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// colors
$bg: #1e1e21;
$text: #f5f5f5;
$accent: #3037d6;

// sizes
$phone: 768px;

// templates
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%text-content {
    color: $text;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    @media screen and (max-width: $phone) {
        font-size: 14px;
        line-height: 25px;
    }
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bg;
    overflow: hidden;
    overflow-x: hidden;
    @media screen and (max-width: $phone) {
        overflow: visible;
    }
}

section {
    width: 100vw;
    min-height: 100vh;
}

.scroll-icon {
    width: 75px;
    padding-bottom: 5vh;
    transition: transform .2s;
    // filter: invert(64%) sepia(97%) saturate(4700%) hue-rotate(8deg) brightness(92%) contrast(104%);
    &:hover {
        transform: scale(1.2);
    }
    @media screen and (max-width: $phone) {
        display: none;
    }
}

.first-section {
    @extend %flex-center;
    .container {
        @extend %flex-center;
        flex-direction: column;
        h1 {
            color: $accent;
            font-size: 80px;
            font-family: 'Montserrat', sans-serif;
            span {
                color: $text;
                font-weight: 100;
            }
            @media screen and (max-width: $phone) {
                font-size: 50px;
                padding-left: 5%;
                padding-bottom: 10%;
            }
        }
        .socials {
            @extend %flex-center;
            padding: 10px;
            width: 40%;
            margin-top: 10px;
            justify-content: space-around;
            img {
                width: 25px;
                transition: 0.2s;
                &:hover {
                    filter: drop-shadow(0px 0px 10px 5px $accent);
                    transform: scale(1.2);
                }
            }
            #linkedin {
                width: 20px;
            }
            @media screen and (max-width: $phone) {
                width: 70%;
            }
        }
    }
    #down-arrow {
        position: absolute;
        top: 90%
    }
    @media screen and (max-width: $phone) {
        min-height: 30vh;
    }
}

.second-section {
    @extend %flex-center;
    @media screen and (max-width: $phone) {
        min-height: auto;
        margin: 25px 0px;
    }
    .out {
        @extend %flex-center;
        width: 80%;
        height: 80%;
        @media screen and (max-width: $phone) {
            width: 90%;
        }
        .in {
            width: 60%;
            @media screen and (max-width: $phone) {
                width: 100%;
            }
            p {
                @extend %text-content;
                a {
                    color: $accent;
                    font-weight: bold;
                }
            }
        }
    }
}

.third-section {
    @extend %flex-center;
    @media screen and (max-width: $phone) {
        min-height: auto;
        margin: 25px 0px;
    }
    .skills {
        @extend %flex-center;
        width: 80%;
        height: 80%;
        @media screen and (max-width: $phone) {
            flex-direction: column-reverse;
            justify-content: flex-start;
            width: 90%;
            height: 90%;
        }
        div {
            height: 100%;
            @media screen and (max-width: $phone) {
                height: 90%;
            }
        }
        .left {
            @extend %flex-center;
            width: 60%;
            p {
                @extend %text-content;
                padding-left: 5%;
                @media screen and (max-width: $phone) {
                    padding-left: 0%;
                }
                .mono {
                    font-family: monospace;
                    color: #33c7de;
                }
            }
            @media screen and (max-width: $phone) {
                width: 100%;
            }
        }
        .right {
            @extend %flex-center;
            width: 40%;
            @media screen and (max-width: $phone) {
                width: 100%;
                height: 7%;
            }
            h1 {
                font-size: 60px;
                font-family: 'Montserrat', sans-serif;
                color: $accent;
                text-align: right;
                padding-right: 10%;
                @media screen and (max-width: $phone) {
                    width: 100%;
                    height: 100%;
                    font-size: 25px;
                    text-align: left;
                }
            }
        }
    }
}

.fourth-section {
    @extend %flex-center;
    min-height: 90vh;
    @media screen and (max-width: $phone) {
        min-height: 30vh;
    }
    .container {
        @extend %flex-center;
        width: 80%;
        @media screen and (max-width: $phone) {
            width: 90%;
        }
        img {
            width: 70%;
            box-shadow: 0px 0px 20px 10px $accent;
            border-radius: 10px;
            @media screen and (max-width: $phone) {
                width: 90%;
                box-shadow: 0px 0px 10px 5px $accent;
            }
        }
    }
}

footer {
    width: 100vw;
    height: 10vh;
    background-color: $accent;
    display: flex;
    @media screen and (max-width: $phone) {
        flex-direction: column;
        justify-content: center;
    }
    div {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @media screen and (max-width: $phone) {
            width: 100%;
        }
        p {
            color: $text;
            font-size: 12px;
            font-family: "Noto sans", sans-serif;
        }
    }
    .left p {
        margin-left: 55px;
        @media screen and (max-width: $phone) {
            margin: 0 0 10px 0;
            text-align: center;
        }
    }
    .right p {
        text-align: right;
        margin-right: 55px;
        @media screen and (max-width: $phone) {
            margin: 0;
            text-align: center;
        }
    }
}